# Ignore virtual environment
.venv/

# Ignore dependencies
vendor/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db
