# Ignore virtual environment
.venv/

# Ignore backend PHP dependencies only
/vendor/
!frontend/assets/vendor/

# Ignore Python bytecode
__pycache__/
*.pyc

# Ignore IDE/editor files
.vscode/
.idea/

# Ignore system-specific files
.DS_Store
Thumbs.db
