* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: "Century", sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to bottom, #ffffff, #ffffff);
    min-height: 100vh;
    margin: 0;
}

.email-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background: linear-gradient(to bottom, #923D41, #582728);
    border-radius: 10px;
    padding: 2rem;
    color: white;
    box-shadow: 25px 30px 55px rgba(80, 80, 80, 0.7);
    width: 100%;
    max-width: 600px;
}

h1 {
    font-size: 1.8rem;
    color: white;
    margin-bottom: 10px;
}

.email-card p {
    font-size: 1rem;
    margin-top: 10px;
    margin-bottom: 10px;
}

.email-card-inputs {
    width: 100%;
    gap: 15px;
    margin-top: 45px;
    margin-bottom: 65px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.email-card-inputs input {
    width: 200%;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    border: 1px solid #DDD;
    transition: border 0.3s ease, outline 0.3s ease;
    background-color: #f3f3f3;
    font-family: "Century", sans-serif;
}

.email-card-inputs input:focus {
    outline: 2px solid #ffffff;
    border-color: transparent;
}

.email-card button {
    background: linear-gradient(to right, #ffffff, #bebebe);
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    color: black;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
    font-family: "Century", sans-serif;
}

.email-card button:hover {
    background-color: #232e3a;
    transform: scale(1.05);
    box-shadow: 0 15px 30px -10px rgba(0, 0, 0, 0.5);
}

/* Responsive Design */
@media (max-width: 768px) {
    h1 {
        font-size: 1.5rem;
    }

    button {
        font-size: 16px;
        padding: 10px 20px;
    }
}

@media (max-width: 480px) {
    .email-card {
        padding: 1.5rem;
    }

    h1 {
        font-size: 1.2rem;
    }

    button {
        font-size: 14px;
        padding: 8px 15px;
    }
}

@media (max-width: 880px) {
    .email-card-inputs input {
        width: 120%; /* Full width for small screens */
        padding: 10px; /* Slightly smaller padding for smaller devices */
    }
}

